@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    color: #172237;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #E9ECEE;
  }
  
  a {
    text-decoration: none;
  }
  
  .line-bold {
    display: inline-block;
    position: relative;
  }
  
  .line-bold::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 4px;
    left: 0;
    background-color: #172237;
    transform-origin: bottom right;
    transition:  transform 0.5s ease-out;
  }
  
  .line-bold:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .line {
    display: inline-block;
    position: relative;
  }
  
  .line::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 2px;
    left: 0;
    background-color: #172237;
    transform-origin: bottom right;
    transition:  transform 0.5s ease-out;
  }
  
  .line:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  @variants responsive {
    .layout {
      position: relative;
      margin: 55vh 0 0 5vh;
      width: 340px;
      height: 360px;
    }

    .sm-layout {
      position: relative;
      margin: 20vh 0 0 25vh;
      width: 400px;
      height: 380px;
    }

    .md-layout {
      position: relative;
      margin: 15vh 0 0 28vh;
      width: 600px;
      height: 550px;
    }

    .lg-layout {
      position: relative;
      margin: 15vh 0 0 40vh;
      width: 680px;
      height: 660px;
    }

    .xlg-layout {
      position: relative;
      margin: 5vh 0 0 100vh;
      width: 680px;
      height: 660px;
    }

    .arrow {
      position: absolute;
      left: 50%;
      bottom: 15%;
      display: block;
      text-align: center;
      font-size: 20px;
      z-index: 100;
      text-decoration: none;
      text-shadow: 0;
      width: 28px;
      height: 28px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      z-index: 9;
      left: 45%;
      -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -moz-transform: translate(-50%, 0%) rotate(45deg);
      transform: translate(-50%, 0%) rotate(45deg);
      -webkit-animation: fade_move_down 4s ease-in-out infinite;
      -moz-animation:    fade_move_down 4s ease-in-out infinite;
      animation:         fade_move_down 4s ease-in-out infinite;
    }
  }

  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
}
