@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #172237;
  background-color: #ffffff;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.hover {
  display: inline-block;
  position: relative;
}

.hover::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: -3px;
  left: 0;
  background-color: #172237;
  transform-origin: bottom right;
  transition:  transform 0.5s ease-out;
}

.hover:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}